%article.disclosure
  .general-income-value
    .box{data:{value: box_width(disclosure, income_value)}}
    .box-second{data:{value: box_width(disclosure, second_income_value)}}
  .general-income
    = income(disclosure, income_value)
  .person
    %a{href:'#'}
      = deklarant_surname(disclosure)
      %br
      = deklarant_imya_otchestvo(disclosure)
  .position
    = link_to posada(disclosure), position_path(posada(disclosure))
  .city-council
    = link_to city_council(disclosure), city_council_path(city_council(disclosure))
