%section.promo-menu
  %header
    %h2
      Открытые декларации всему голова
  %nav.promo-nav
    .block
      .income
        = link_to 'Общий доход', root_path, class: 'income'
      .asset
        = link_to 'Майно', root_path, class: 'income'
      .by_city
        = link_to 'Горсовет', root_path, class: 'income'

%section.d3chart
%svg#graph


%section.disclosures-menu
  %header
    %h2.disclosures-header
      Общая сумма дохода
  %nav.income-menu
    %ul
      %li.active
        = link_to 'Декларант', personal_general_income_path, remote: true, id: 'personal_income_button'
      %li
        = link_to 'Члены семьи', family_general_income_path, remote: true, id: 'family_income_button'

%section.disclosures#disclosures
  = render partial: 'main/disclosures', locals: { disclosures: @disclosures, income_value: :general_income_value, second_income_value: :family_general_income_value}
