- box_width = (200*finance_disclosure.family_general_income_value)/@max_general_income

%article.disclosure
  .general-income-value
    .box{style: "width: #{box_width}px"}
  .general-income
    = finance_disclosure.family_general_income_value
  .person
    %a{href:'#'}
      = finance_disclosure.official_name
  .position
    %a{href:'#'}
      = finance_disclosure.official_position
  .city-council
    %a{href:'#'}
      = finance_disclosure.city_council
