!!!
%html
  %head
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    %title
      = [content_for(:page_title), 'Disclosure'].compact.uniq.join(' | ')
    %link{ href: '//fonts.googleapis.com/css?family=Lato:300,400,700,900', rel: 'stylesheet', type:'text/css' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.disclosure
    = render 'application/header'

    - if notice
      %p.notice
        = notice
    - if alert
      %p.alert
        = alert

    .content
      = yield

    = render 'application/footer'

    = javascript_tag do
      = yield :javascript
